/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
  padding-left: 20px;
  padding-right: 20px;
  background: #343a40;
  color: blanchedalmond;
}

img.myPic{
    border: 1px solid blanchedalmond;
    border-radius: 50%;
    padding: 5px;
}

/*navbar*/
.navbar{
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.main{
    margin-top: 30px;
}

a{
    color: blanchedalmond;
}
h1{
    margin-bottom: 0px;
}
h2{
    margin-top: 0px;
}
p{
    margin-top: 0px;
}

#home{
  padding-top: 50px;
  padding-bottom: 435px;
}
#aboutMe{
  padding-top: 50px;
  padding-bottom: 435px;
}
#projects{
  padding-top: 50px;
  padding-bottom: 200px;
}

#contactMe{
  padding-top: 50px;
  padding-bottom: 260px;
}

.header{
    grid-area: header;
}
.home-grid{
    grid-area: home-grid;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 100px 1fr 1fr;
    grid-template-areas: 
        "myPic  .   myIntro  myIntro";
}
.myPic{
    grid-area: myPic;
}
.myIntro{
    grid-area: myIntro;
    align-self: center;   
}

.aboutMe-grid{
    grid-area: aboutMe-grid;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 390px 100px 1fr 1fr;
    grid-template-areas: 
        "aboutMeIntro  .    mySkills  mySkills";
}
.aboutMeIntro{
    grid-area: aboutMeIntro;
}
.mySkills{
    grid-area: mySkills;
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas: 
    "h2     h2      h2      h2"
    "skill1 skill2  skill3  skill4"
    "skill5 .       .       .";
}

.skill1{
    grid-area: skill1;
}
.skill2{
    grid-area: skill2;
}
.skill3{
    grid-area: skill3;
}
.skill4{
    grid-area: skill4;
}
.skill5{
    grid-area: skill5;
}


.projects-grid{
    grid-area: projects-grid;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "myProjectsIntro  myProjectsIntro  myProjectsIntro"
        "cards            cards            cards";
}
.cards{
    grid-area: cards;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "card1  card2  card3";
    justify-items: center;
}
.myProjectsIntro{
    grid-area: myProjectsIntro;
}
.card1{
    grid-area: card1;
}
.card2{
    grid-area: card2;
}
.card3{
    grid-area: card3;
}

.contact-grid{
    grid-area: contact-grid;
}
.footer{
    grid-area: footer;

}

.wrapper{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, [col], auto);
    grid-template-areas: 
        "header         header          header"
        "home-grid      home-grid       home-grid"
        "aboutMe-grid   aboutMe-grid    aboutMe-grid"
        "projects-grid  projects-grid   projects-grid"
        "contact-grid   contact-grid    contact-grid"
        "footer              footer          footer"; 
}


/*card*/
.flip-container{
    position: relative;
    perspective: 1000px;
}

.flip-container.hover .card {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back{
    width: 250px;
    height: 320px;
    background: #343a40;
}

.card{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1s ease;
    
}

.front,
.back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #ffc728;
    color: #333;
}

.front{
    z-index: 2;
    transform: rotateY(0deg);
}

.back{
    transform: rotateY(180deg);
}

/*form* copied from https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/Your_first_HTML_form/*/
form {
  /* Just to center the form on the page */
  margin: 0 auto;
  width: 400px;
  /* To see the outline of the form */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

form div + div {
  margin-top: 1em;
}

label {
  /* To make sure that all labels have the same size and are properly aligned */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input, textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* To give the same size to all text fields */
  width: 300px;
  box-sizing: border-box;

  /* To harmonize the look & feel of text field border */
  border: 1px solid #999;
}

input:focus, textarea:focus {
  /* To give a little highlight on active elements */
  border-color: #000;
}

textarea {
  /* To properly align multiline text fields with their labels */
  vertical-align: top;

  /* To give enough room to type some text */
  height: 5em;
}

.button {
  /* To position the buttons to the same position of the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: .5em;
}


